<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue dans le système de gestion des compétences</h1>
      <p class="lead">Cette application vous permet de gérer facilement les compétences au sein de votre organisation.</p>
      <hr class="my-4">
      <p>Utilisez cette plateforme pour ajouter, modifier, supprimer et consulter les compétences.</p>
      <button mat-raised-button color="primary" routerLink="/competences">
        Voir toutes les compétences
      </button>
    </div>


    
  </div>